<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/publish.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>发布</title>

</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="publish-body">
    <div class="container-fluid  publish-main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 main-content" style="">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">标题（简单扼要）</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="问题标题..." th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label for="description">文章（必填，请参照右侧提示）</label>
                        <textarea name="description" id="description" class="form-control" cols="30"
                                  rows="10" style="resize: none" th:text="${description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" id="tag" class="form-control" name="tag" placeholder="添加标签..." th:value="${tag}">
                    </div>

                    <div th:if="${error !=null}">
                        <div class="alert alert-danger" th:text=" ${error}" role="alert">
                        </div>
                    </div>
                    <button type="submit"
                            class="btn btn-default btn-success publish-button ">
                        发布
                    </button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="">
                <h3>
                    问题发起指南
                </h3>
                <p>• 问题标题：请用精简的语言描述您发布的问题，不超过25字</p>
                <p>• 问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料</p>
                <p>• 选择标签：选择一个或者多个合适的标签，用逗号分隔，每个标签不超过10个字</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>